/* Amey Abraham-8739103 */

.logoTagline {
  display: inline-block;
  height: 72px;
  padding: 5px;
}
.logoTagline p {
  position: absolute;
  margin-top: 40px;
  margin-left: 100px;
  text-align: center;
  font-style: italic;
  font-size: large;
}
.logo {
  width: 175px;
  height: 72px;
}
.logo img {
  width: 175px;
  height: 72px;
}

body {
  background-color: #f8edeb;
}

/* container CSS */
.mainContainer {
  width: 1200px;
  border: 1px solid black;
  margin: auto;
  padding: 20px;
  background: white;
}
h1 {
  text-align: center;
  color: #9b2226;
  padding-bottom: 10px;
}
header {
  background-color: #fca311;
}

/* CSS for the navigation bar and sub menu */

nav ul {
  list-style-type: none;
  font-size: large;
}
nav a {
  text-decoration: none;
}
nav > ul > li {
  display: inline-block;
  padding-right: 40px;
  font-weight: bold;
}
nav ul li ul {
  position: absolute;
  z-index: 999;
  text-align: left;
  background-color: #f8edeb;
}

nav ul li ul li a {
  display: block;
}
nav ul li ul li:hover a:hover {
  color: white;
  background-color: #023e8a;
}
nav ul li ul {
  display: none;
  width: 80px;
  padding: 5px;
}
nav ul li:hover ul {
  display: block;
  color: #a05a75;
}
.heroHeading h3 {
  color: #335c67;
}
.container1 h1 {
  color: #023e8a;
}
.container1 h1:hover {
  color: #eb6424;
}

.heroHeading {
  text-align: center;
}
.hero img {
  width: 100%;
}
.container1 {
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    "para1 img1"
    "para2 img2";
}
.fig1 {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.fig2 {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.cardsHeading h3 {
  color: #9b2226;
  text-align: center;
  font-size: larger;
}
.container2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards {
  border: 1px solid black;
  margin: 15px;
  border-radius: 4px;

  box-shadow: 10px 10px 4px #a05a75;
}
.cards h2 {
  padding-left: 10px;
}
.cards img {
  padding: 10px;
  margin: auto;
}
/* CSS for Read More */
h6 {
  margin-left: 10px;
  width: 100px;
  border: 1px solid black;
  padding: 10px;
  color: white;
  background-color: gray;
  font-size: larger;
}
.cards a {
  text-decoration: none;
}

footer,
.footercontainer {
  border: 1px solid black;
}
footer {
  border-collapse: collapse;
  background: #fca311;
  color: #9b2226;
  font-size: large;
  padding: 30px 5px 0 5px;
}

footer p {
  padding-left: 350px;
}

.footercontainer {
  display: grid;
  grid-gap: 10px;

  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding: 5px;
}
